@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.container-1 {
    width: 100%;
    height: 100vh;
    background: rgb(70, 66, 66);

    .section {
        width: 75%;
        height: 100%;
        margin: auto;
        background-color: white;
        position: sticky;
        color: rgb(216, 199, 199);

        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 100%;
            height: 40%;
            color: azure;
            justify-content: center;
            &::before {
                content: "";
                width: 100%;
                height: 40%;
                background: no-repeat center/cover url("../assets/mountain.png");
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
            }
        }
        > .content-2 {
            width: 100%;
            height: 68%;

            margin-top: -99px;
            > .input-1 {
                width: 50%;
                height: 8%;

                background-color: whitesmoke;
                margin-left: 28%;
                margin-bottom: 20px;

                .input-1-in {
                    border: none;
                    outline:none;
                    background-color: whitesmoke;
                    font-size: 1.2rem;
                }
            }
            > .input-3 {
                width: 50%;
                height: 8%;
                background-color: whitesmoke;
                margin-left: 28%;
                box-shadow:
                    0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-size: 1.2rem;
                span{
                    margin-left: 10px;
                    color: rgb(90, 87, 82);
                }
            }
            > .input-2 {
                width: 50%;
                height: 8%;

                background-color: whitesmoke;
                margin-left: 28%;
                box-shadow:
                    0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
                font-size: 0.8em;
                > ul {
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    > li {
                        vertical-align: center;
                        button {
                            border: none;
                            color: rgb(33, 34, 34);
                        }
                    }
                }
            }
        }
    }
}
